<!DOCTYPE html>
<html>
<head>
  <title><%= blocks.title %></title>

  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville%7CLora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/792aec6a64.js"></script>
  
</head>
<body>

    <div><%- partial('partials/navbar') -%></div>
    <br><br><br>
    <%- body -%>
    <br><br><br>
    <h5>Please name your new list here:<input type=text></h5>
    <div class="container" id="containerAll">
      <h2>users list name here</h2>
     <h3> Add Item </h3>
       <input id="new-task" type="text"><button id= "addButton">Add</button>

      
      <h3>Todo</h3>
      <ul id="incomplete-tasks">

      </ul>
      
      <h3>Finito'd</h3>
      <ul id="completed-tasks">
        <li>
        </li>
      </ul>

      <input type="button" id="btnSave" value="Save">
      <input type="button" id="btnSave" value="Create a New List">

    </div>
     <br><br><br>

     <h2>Saved Lists</h2>

    <ul id="savedLists">
     <li><div><%-partial('partials/cards') %> </div></li>
    </ul>

<br><br><br>

    <div><%-partial('partials/footer') %></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/792aec6a64.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <script type="text/javascript" src= "javascripts/todoapp.js"></script>
 <script type="text/javascript" src= "javascripts/multipleLists.js"></script>
</body>
</html>